@model Task2.Models.AvailabiltySlots

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvailabiltySlots</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityCalendar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityCalendar.AvailabilityCalendarId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AvailabiltySlotsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
