@model CityPoint.Models.BookingStatusHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingStatusHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangedByUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingStatusHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
